@media(max-width:97em)
{
  .section-hero
{
padding: 2rem;
 display: grid;
 place-items: center;
 text-align: center;
 color:#fff;
}

 .section-about
  {
    padding: 95px 30px;
  }


 .section-wildlife
  {
    padding: 95px 30px;
  }



}


@media(max-width:77em)
{

  .section-about
  {
    padding: 95px 30px;
  }

.heading-secondary
{
  font-size: 35px;
}


  .mountain-img {
  width: 100%;
  z-index: 10;
  height:55vh;
}

.mountain-description
{
  font-size: 1.27rem;
}


.river-img {
  width: 115%;
  z-index: 10;
  height:68vh;
}

.temple-img {
  width: 105%;
  z-index: 10;
  height:55vh;
}

 .section-wildlife
  {
    padding: 95px 25px;
  }


}


@media(max-width:63em)
{
 
   .explore{ 
    /* 3/5=60% +2/5=40% */
   grid-template-columns: 3fr 2fr;
  }

  .explore-form
  {
    grid-template-columns: 1fr;
  }

  .river-img {
  width: 110%;
  z-index: 10;
  height:78vh;
}
}


@media(max-width:58em)
{

  .heading-secondary
  {
    font-size: 30px;
    margin-left: 1.2rem;
  }


   .grid,.grid-2-cols
   {
     grid-template-columns:1fr;
   }


   .river-img
   {
    width: 98%;
    height: 55vh;
   }

   .temple-img
   {
    width: 98%;
    height: 55vh;
   }


  .mountain-img-box
  {
    grid-row: 1;
  }

  .temple-img-box
  {
    grid-row: 5;
  }

  .explore
  {
    grid-template-columns: 1fr;
  }

  .explore-img-box
  {
    height: 30rem;
  }

  .copyright
  {
    font-size: 1rem;
    margin-left: 1.5rem;
  }

  .developed
  {
    margin-left: 1.5rem;
  }


  /* Mobile Navigation */

   .btn-mobile-nav
  {
    display: block;
  }

  .main-nav
  {
    background-color: #000;
     position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
   transform: translateX(100%);
   display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.50s ease-in-out;
    opacity: 0;
    pointer-events: none;
   visibility: hidden;
}

.nav-open .main-nav
  {
    opacity: 1;
    pointer-events: auto;
    visibility: visible;
    transform: translateX(0%);
  }

   .nav-open .icon-mobile-nav[name="close-outline"]{
display: block;
}

 .nav-open .icon-mobile-nav[name="menu-outline"]{
display: none;
}

.main-nav-list
  {
    flex-direction: column;
    gap: 3rem;
  }

  .main-nav-link:link,
.main-nav-link:visited
{
  font-size: 1.5rem;
}



}





